## Create basketclock.service
## Part 1
cat <<EOF >basketclock.service
[Unit]
Description=basketclock autostart

[Service]
ExecStart=/usr/bin/python3 /opt/basketclock/basketclockthread.py
Restart=on-success
EOF
## Part 2
echo User=$(users) >>basketclock.service
## Part 3
cat <<EOF >>basketclock.service

[Install]
WantedBy=multi-user.target
EOF

## Move and enable basketclock.service
sudo mv basketclock.service /etc/systemd/system
sudo systemctl daemon-reload
sudo systemctl enable basketclock.service
sudo systemctl start basketclock.service

## Reboot
echo -n "The system needs to be rebooted as a final step. Reboot now? [Y/n]: "
            read answer < /dev/tty
            if [ "$answer" != "${answer#[Nn]}" ]; then
                echo "Installation reboot aborted."
                exit 0
            fi
            sudo shutdown -r now
